header  {
  float: left;
  background-color: #990099;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

body {
    font-family:'Helvetica Neue', 'Arial', 'Sans-Serif';
    font-weight: 200;
    background-color: #fff;
    color: #666;
    margin: 0 !important;
}
h2  {
    font-size:2em;
    font-weight: 300;
    -webkit-margin-before: 0;
}

h3  {
  margin-top: 2.5em;
}
.container  {
    margin: 0 10% 0 10%;
    width: 80%;
}
.logo {
    margin-left: 60px;
}
header ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    float: right;
}
header ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
header h1  {
    font-size: 3em;
}
header, header a, header a:hover, header h1  {
    color: #fff;
}
a {
    text-decoration: none;
    color: #990099;
}
a:hover {
    text-decoration: underline;
    color: #666;
}
h1 {
    font-size: 3em;
}
p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}
li  {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 0.8em;
}
footer {
    border-top: 1px solid #990099;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

#projects {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#projects li {
  display: inline-block;
  width: 300px;
  margin: 2.5%;
  color: #bdc3c7;
  vertical-align: top;
}

#projects li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
}

#projects img {
  max-width:100%;
}

#projects h3  {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight:200;
  background-color: #990099;
}

#projects a:hover {
  color: #666;
  text-decoration: none;
  opacity: 0.3;
}

a.button {
  padding: 3px 11px !important;
  text-align: center;
  border: 1px solid #990099;
  color: #990099;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  border-radius: 5px;
}

a:hover.button  {
  background: #990099;
  color: white;
  border-color: #990099;
  text-decoration:none;
  box-shadow: 3px 3px 3px #888888;
}

a.button:after  {
  margin-left:5px;
  content:'\25BA';
}

div.img {
  margin: 5px;
  width: 450px;
  box-shadow: 3px 3px 3px #888888; 
}

div.img img {
    width: 100%;
    height: auto;
}

div.caption {
  padding: 5px;
  text-align: center;
}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
