nav  {
    border-bottom: solid 1px #990099;
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    float: right;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav h1  {
    font-size: 3em;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a {
    text-decoration: none;
    color: #990099;
}
a:hover {
    text-decoration: underline;
    color: #660066;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2  {
    font-size:2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.0em;
    color: #999;
}
li  {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.8em;
    color: #999;
}
footer {
    border-top: 1px solid #990099;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}
